@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:ital,wght@1,300&display=swap');

.navItem a {
  text-decoration: none;
  color: white;
}

.outerDiv {
  display: flex;
  width: 100vw;
  min-width: 10vw;
}


.navigation {
  width: 10%;
  min-width: 100px;
  height: 100vh;
  position: fixed;
  background-color: black;
  color: white;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 25px;
  font-family: 'Kanit', sans-serif;
}


.navItem {
  cursor: pointer;
  font-weight: 800;
  padding: 5px;
  width: 80%;
  overflow: hidden;
}

.navItem:hover {
  border: 2px solid yellow;
  border-radius: 15px;
}

.selectedItem {
  border: 2px solid yellow;
  border-radius: 15px;
}

.rightContent {
  width: 100%;
  padding-left: 10%;
  /* padding: 10px; */
  /* height: 200vh; */
  /* margin-left: 10%; */
  background-color: rgb(23, 23, 23);
  /* background: linear-gradient(rgb(184, 182, 182), rgb(80, 79, 79)) */
}

.App-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 3px solid white;
  border-radius: 50%;
}

.heading {
  color: white;
  margin: 3%;
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  text-align: center;
  width: 20%;
  align-self: center;
}

.heading hr {
  width: 100%;
  height: 5px;
  border-radius: 15px;
  background-color: gold;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    background-color: white;
    color: black;
  }

  to {
    transform: rotate(360deg);
    background-color: gray;
    color: white;
  }
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */